html,body,h1,h2,h3,h4,h5,h6,b,strong,ul,li,ol,dl,dt,dd,p,img,form,fieldset,legend,section,input,form,a{
	margin: 0;
	padding: 0;
}
body,html{
	font-size: 12px;
	background: #f4f4f4;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight: normal;
	font-size: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #e1251b;
}
i,em{
	font-style: normal;
}
.clearfix{
	*zoom: 1;
}
.clearfix:after{
	content: ' ';
	overflow: hidden;
	height: 0;
	display: block;
	clear: both;
}