html,body{
	background: #fff;
}
#login-header{
	background: #fff;
	border-top: 1px solid #b6b4b6;
	box-shadow: 2px 5px 2px #eee;
}
.header-inner{
	width: 990px;
	height: 100px;
	margin: 0 auto;
	background: #fff;
}
.header-inner .logo{
	height: 60px;
	padding: 10px 0;
}
.header-inner .logo h1{
	display: inline-block;
	width: 170px;
	height: 60px;
	background: url(../img/login_logo_bg.png) no-repeat;
	text-indent: -999px;
}
.header-inner .logo b{
	font-size: 24px;
	font-weight: bold;
	vertical-align: bottom;
	margin-left: 24px;
}
.header-inner .logo p{
	display: inline-block;
	margin-left: 580px;
	vertical-align: bottom;
	font-size: 14px;
	color: #999;
}
.header-inner .logo a{
	color: #e4393c;
}
.header-inner .logo a:hover{
	color: #e4393c;
	text-decoration: underline;
}
#main{
	background: #fff;
}
.main-inner{
	width: 990px;
	height: 475px;
	margin: 0 auto;
	background: #fff;
}
.main-inner .box{
	width: 500px;
	height: 400px;
	background: #fff;
	margin: 50px auto;
	border: 2px solid #e71304;
}
.main-inner .box form{
	padding-top: 80px;
	padding-left: 80px;
}
.main-inner .box form div label{
	vertical-align: middle;
	float: left;
	line-height: 38px;
	font-size: 16px;
	letter-spacing: 5px;
}
.main-inner .box form .password{
	margin-top: 30px;
	margin-bottom: 60px;
}
.main-inner .box form .password label{
	letter-spacing: 12px;
}
.main-inner .box form div input{
	outline: none;
	width: 254px;
	height: 38px;
	border: 1px solid #bdbdbd;

	float: left;
	padding-left: 11px;
}

.main-inner .box form .btn{
	width: 340px;
	height: 32px;
	background: #e4393c;
	border: 1px solid #e85356;
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 24px;
	outline: none;
}